API_ID=25504446
API_HASH=47db27cde56c3e4690e244e6de10f919
BOT_TOKEN=7694673052:AAGVUxbHejHdYPfMLU9UkKLTUUYu2uyqWxA
LOG_GROUP_ID=-1002137616770
MONGO_DB_URI=mongodb+srv://ftyvfbgubhu7:hDZwwlNzlKBzls84@ameliamusicbot.f7dzw.mongodb.net/?retryWrites=true&w=majority&appName=AmeliaMusicbot
OWNER_ID=7252249791
STRING_SESSION=BQGFKr4AVHpA6TKF2_q7JjaXsbWFQkgPndip0r6apDJZFD7CShHx8FbM3YgiJ7Ird2Dwav1HeSzgbtrSfnLbCTxZZdC-7s6xb9k97VRR3H4J17MCL2SoOSGFDXbGq1dANDLpxiH97h6p_fsZmgR2p8Tu_1dP9wN06UCgi1S6EUvOCBAFk6pz0f48X31F85Ox3zeyNktWKPgpCn6AfjKE2dk7iC1WHJakISHkwSa0RAxqi96FYkstCNfDC9OToWx8X87cXIpSJGFhQOCS9x_mghzO5vDR8CL5RZdc_rvjhzgFkBWggyCGrY4059t7T30IfBEjaLvAb7AI68K3B14REBtbZzPA_AAAAAHkerbcAA
